<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaperWriting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <PaperWriting.Properties.Settings>
            <setting name="WidthLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="HyperRef" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formula" serializeAs="String">
                <value>{SEQ 公式}</value>
            </setting>
            <setting name="Figure" serializeAs="String">
                <value />
            </setting>
            <setting name="Table" serializeAs="String">
                <value />
            </setting>
            <setting name="Title_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Title_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Title_3" serializeAs="String">
                <value />
            </setting>
            <setting name="FigurePosition" serializeAs="String">
                <value>Above</value>
            </setting>
            <setting name="TablePosition" serializeAs="String">
                <value>Above</value>
            </setting>
        </PaperWriting.Properties.Settings>
    </userSettings>
</configuration>