<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaperWriting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaperWriting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <PaperWriting.Properties.Settings>
            <setting name="WidthLimit" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HyperRef" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formula" serializeAs="String">
                <value>#\#([{SEQ 一级标题 \c}-{SEQ 公式}])</value>
            </setting>
            <setting name="Figure" serializeAs="String">
                <value>Figure [{SEQ 图片}]  #</value>
            </setting>
            <setting name="Table" serializeAs="String">
                <value>Table [{SEQ 表格}]  #</value>
            </setting>
            <setting name="Header1" serializeAs="String">
                <value>{SEQ 一级标题}  #</value>
            </setting>
            <setting name="Header2" serializeAs="String">
                <value>{SEQ 一级标题 \c}.{SEQ 二级标题}  #</value>
            </setting>
            <setting name="Header3" serializeAs="String">
                <value>{SEQ 一级标题 \c}.{SEQ 二级标题 \c}.{SEQ 三级标题}  #</value>
            </setting>
            <setting name="FigurePosition" serializeAs="String">
                <value>Above</value>
            </setting>
            <setting name="FormulaStyle" serializeAs="String">
                <value>公式</value>
            </setting>
            <setting name="FigureStyle" serializeAs="String">
                <value>图片</value>
            </setting>
            <setting name="TableStyle" serializeAs="String">
                <value>表格</value>
            </setting>
            <setting name="Header1Style" serializeAs="String">
                <value>标题 1</value>
            </setting>
            <setting name="Header2Style" serializeAs="String">
                <value>标题 2</value>
            </setting>
            <setting name="Header3Style" serializeAs="String">
                <value>标题 3</value>
            </setting>
            <setting name="TablePosition" serializeAs="String">
                <value>Above</value>
            </setting>
        </PaperWriting.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PaperWriting.Properties.Settings>
            <setting name="BookmarkPrefix" serializeAs="String">
                <value>PaperWriting_</value>
            </setting>
        </PaperWriting.Properties.Settings>
    </applicationSettings>
</configuration>